<div class="container">
  <div class="header">
    <h1>Projects</h1>
    <button mat-fab class="add-button" (click)="toggleForm()" [@buttonState]="showUploadForm">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="projects-list" *ngIf="projects.length > 0">
    <ul class="video-list">
        <li *ngFor="let project of projects">
            <h3>{{ project.name }}</h3>
            <div>
                <iframe width="560" height="315" [src]= "embedYouTubeUrl(project.media)" allowfullscreen></iframe>
            </div>
        </li>
    </ul>
</div>

  <div *ngIf="showUploadForm" class="dialog-overlay">
    <div class="upload-form">
      <form (submit)="uploadFiles()" enctype="multipart/form-data">
        <div class="form-group">
          <label for="projectName">Project Name:</label>
          <input type="text" id="projectName" name="projectName" formControlName="" required>
        </div>

        <div class="form-group">
          <label for="video">Video URL or Path:</label>
          <input type="text" id="video" name="video" [(ngModel)]="videoUrl" required>
      </div>
        <button type="submit" class="upload-button">Upload Files</button>
      </form>
    </div>
  </div>
</div>