<div class="container">
    <div class="header">
      <h1>Certificates</h1>
      <button mat-fab class="add-button" (click)="toggleForm()" [@buttonState]="showUploadForm">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  
    <div *ngIf="showUploadForm" class="dialog-overlay">
      <div class="upload-form">
        <form (submit)="uploadFiles()" enctype="multipart/form-data">
          <div class="form-group">
            <label for="projectName">Certificate Name:</label>
            <input type="text" id="projectName" name="projectName" [(ngModel)]="projectName" required>
          </div>
  
          <div class="form-group">
            <label for="imageFile">Image File:</label>
            <input type="file" id="imageFile" name="imageFile" accept=".jpg, .jpeg, .png, .gif" (change)="onImageSelect($event)" required>
        </div>
  
          <button type="submit" class="upload-button">Upload Files</button>
        </form>
      </div>
    </div>
  </div>