<header>
  <div class="logo-container">
    <a href="../../assets/docs/Resume-Ho-Wai-Lun.pdf" target="_blank">
    <div class="logo">
      <img src="../assets/images/Ho Wai Lun 2001430.jpg" alt="PopTt">
    </div>
  </a>
    <span>Ho Wai Lun</span>
  </div>
  <nav>
    <a routerLink="/">Projects</a>
    <a routerLink="/cert">Certificates</a>
  </nav>
  <div class="social-links">
    <a href="https://github.com/PopTt" target="_blank" rel="noopener" aria-label="PopTt's GitHub">
      <img src="../assets/images/github.png" alt="GitHub" height="36">
    </a>
    <a href="https://linkedin.com/in/ho-wai-lun-872505216" target="_blank" rel="noopener" aria-label="PopTt's LinkedIn">
      <img src="../assets/images/linkedin-icon.png" alt="LinkedIn" height="36">
    </a>
  </div>
</header>